.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  width: 100%;
}

.title {
  color: #172b4d;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.createForm {
  display: flex;
  gap: 12px;
  align-items: center;
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border: 1px solid white;
}

.input {
  padding: 10px 12px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s;
  min-width: 300px;
  color: #172b4d;
  margin-right: 10px;
}

.input::placeholder {
  color: #6b778c;
}

.input:focus {
  border-color: #0079bf;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #0079bf;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #026aa7;
}

.button:active {
  background-color: #055a8c;
}
